<div class="space-y-5">
  <h2 class="gradient-text-primary text-2xl">Que es akunaipa</h2>
  <p class="text-gray-800 text-xl">
    Akunaipa es una sitio web, de turismo rural, que ofrece una amplia variedad
    de servicios turísticos, el objectivo de esta página es que los visitantes
    puedan conocer los mejores lugares de la región, enfocados en el turismo
    rural.
  </p>
  <h2 class="gradient-text-primary text-2xl">Tecnologias utilizadas</h2>
  <div class="text-xl">
    <h3 class="gradient-text-primary">Front-end</h3>
    <ul class="list-disc list-inside">
      <li>ReactJs - Typescript</li>
      <li>TailwindCSS</li>
    </ul>
  </div>
  <div class="text-xl">
    <h3 class="gradient-text-primary">Back-end</h3>
    <ul class="list-disc list-inside">
      <li>Laravel</li>
      <li>MySQL</li>
    </ul>
  </div>
  <div class="text-xl">
    <h3 class="gradient-text-primary">Desplegada</h3>
    <p class="text-gray-800">
      Sitio web desplegado y configurado en una <b>VPS</b>, realizando las
      respectivas configuraciones de seguridad, al igual que la instalación y
      configuracion de apache montado en un sistema operativo linux, con esto se
      logra una mayor seguridad y confiabilidad en el sitio web.
    </p>
  </div>
</div>

Akunaipa es una sitio web, de turismo rural, que ofrece una amplia variedad de servicios turísticos, el objectivo de esta página es que los visitantes puedan conocer los mejores lugares de la región, enfocados en el turismo rural.